<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" id="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">Instituto Social NSF</span>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Feira", "Index", "Feira")</li>
                    <li>@Html.ActionLink("Térreo", "Terreo", "Feira")</li>
                    <li>@Html.ActionLink("1º Andar", "PrimeiroAndar", "Feira")</li>
                    <li>@Html.ActionLink("2º Andar", "SegundoAndar", "Feira")</li>
                    <li>@Html.ActionLink("3º Andar", "TerceiroAndar", "Feira")</li>
                    <li>@Html.ActionLink("Avaliacao", "Avaliacao", "Feira")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>

    <footer id="colophon" class="thim-right-bg-secondary-color thim-footer-university-4 site-footer">
        <div class="footer">

            <div class="footer-logo">
                <img class="alignnone size-full wp-image-10" src="https://acaonsfatima.org.br/wp-content/uploads/2018/11/logo.png" alt="logo-eduma-the-best-lms-wordpress-theme" width="150" height="200" id="footLogo" />
            </div>

            <div class="info">
                <h4 class="heading"><span>Instituto Social </span> NOSSA SENHORA DE FÁTIMA</h4>
                <div class="content">
                    <p class="desc">A Ação Social, divide-se em vários grupos de atividades, todas no sentido de assistir a comunidade, tendo como pilastra o Ser Humano desde a infância, seguindo com a juventude, na preparação do Caminho para Maioridade (Cidadania).</p>
                    <ul class="contact-list">
                        <li class="address"><i class="fa fa-home"></i>RUA AVE MARIA, 78 JD VELEIROS SÃO PAULO-SP </li>
                        <li class="phone"><i class="fa fa-phone"></i>TEL: (11)5687-8876 /(11)3798-5036</li>
                    </ul>
                </div>
            </div>

            <h3 class="widget-title">Siga-nos</h3>
            <ul class="social_link">
                <li><a class="facebook hasTooltip" href="https://www.facebook.com/Instituto-Social-Nossa-Senhora-de-F%C3%A1tima-230903353703049/" target="_self"><i class="fa fa-facebook"></i>Facebook</a></li>
                <li><a class="twitter hasTooltip" href="https://twitter.com/?lang=pt-br" target="_self"><i class="fa fa-twitter"></i>Twitter</a></li>
                <li><a class="instagram hasTooltip" href="https://www.instagram.com/acaonsfatima/?hl=pt-br" target="_self"><i class="fa fa-instagram"></i>Instagram</a></li>
            </ul>
            <div class="copyright-content">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="text-copyright">
                            © 2018 Todos os Direitos estão reservados para Nossa senhora de Fátima
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
